<% noindex %>
<h1><%= title t(".title") %></h1>
<section>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <%= render partial: 'card', collection: @stores, as: :store %>
  </div>
</section>
<section class="text-center">
  <%= link_to t("pages.home.cards.suggest_store.button"),
    new_store_suggestion_path,
    class: "btn btn-success" %>
</section>
