<footer>
  <div>
    <nav>
      <ul>
        <li><%= link_to t('.home'), root_path, class: "secondary" %></li>
      </ul>
    </nav>
    <p><%= t('.copyright_html', brand_name: t('app.name'), year: Time.now.year) %></p>
  </div>
</footer>