<footer>
  <div>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path, class: "secondary" %></li>
      </ul>
    </nav>
    <p>Turno Extra! &copy; <%= Time.now.year %> All Rights Reserved.</p>
  </div>
</footer>