<nav class="container">
  <ul>
    <%= link_to root_url do %>
      <li><strong>Turno Extra!</strong></li>
    <% end %>
  </ul>
  <ul>
    <li>
      <%= link_to "Boardgames", boardgames_url, class: "secondary "%>
    </li>
  </ul>
</nav>