
<%# source: https://ddnexus.github.io/pagy/docs/how-to/#using-your-pagination-templates %>
<nav class="pagy nav grid" aria-label="Pages">
  <%= pagy_nav_link('< Previous', pagy.prev, 'Previous', path_helper) %>
  <%= pagy_nav_link('Next >', pagy.next, 'Next', path_helper) %>
</nav>


