
<%# source: https://ddnexus.github.io/pagy/docs/how-to/#using-your-pagination-templates %>
<nav class="pagy nav grid" aria-label=<%= t(".aria_label.nav") %>>
  <%= pagy_nav_link(label: t(".prev_html"), page: pagy.prev, aria_label: t(".aria_label.prev"), path_helper: path_helper, rel: "prev") %>
  <%= pagy_nav_link(label: t(".next_html"), page: pagy.next, aria_label: t(".aria_label.next"), path_helper: path_helper, rel: "next") %>
</nav>


