<article>
  <header>
    <h3><%= card[:title] %></h3>
  </header>
  <% card[:paragraphs].each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  <footer>
    <%= link_to card[:button] , new_store_suggestion_path %>
  </footer>
</article>