<article class="card my-3">
  <header class="card-header">
    <h3 class="card-title"><%= card[:title] %></h3>
  </header>
  <div class="card-body">
    <% card[:paragraphs].each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
  </div>
  <footer class="card-footer d-flex justify-content-center align-items-center">
    <%= link_to card[:button] , new_store_suggestion_path, class: "btn btn-success"  %>
  </footer>
</article>