<h1>About</h1>

<h2>What is Turno Extra?</h2>

<p>Turno Extra! is a personal project created with the goal of making it easier for you to find the best board game prices in Chile.</p>

<p>It takes inspiration from other chilean price aggregators like:</p>
<ul>
  <li><%= link_to "solotodo.cl", "https://www.solotodo.cl" %></li>
  <li><%= link_to "knasta.cl", "https://knasta.cl" %></li>
  <li><%= link_to "ofertasshark.cl", "https://www.ofertasshark.cl" %></li>
</ul>
