<hgroup>
  <h1>Turno Extra!</h1>
  <p>Find the best prices for your next boardgame!</p>
</hgroup>

<section>
  <%= render 'boardgames/search_form' %>
</section>

<section>
  <h2>Recent Deals</h2>
  <div>
    <% @week_deals.each_slice(3) do |batch| %>
      <div class="grid">
        <% batch.each do |boardgame| %>
          <%= render 'boardgames/card', boardgame: %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>