<% set_meta_tags canonical: deals_url %>
<h1><%= title t('.title') %></h1>
<section>
  <%= render 'pagy/info', pagy: @pagy %>
  <%= render partial: 'boardgames/grid', locals: { boardgames: @boardgames } %>
  <%= render 'pagy/nav', pagy: @pagy, path_helper: ->(p) { deals_path(page: p) } %>
</section>