<h1>Upload CSV file</h1>
<%= form_with url: admin_uploads_path, multipart: true do |f| %>
  <div class="mb-3">
    <%= f.label :files, class: "form-label" %>
    <%= f.file_field :files, multiple: true, format: 'text/csv', required: true, class: "form-control" %>
  </div>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>