<h1>Upload CSV file</h1>

<%= form_with url: admin_uploads_path, multipart: true do |f| %>
  <%= f.label :files %>
  <%= f.file_field :files, multiple: true, format: 'text/csv', required: true%>
  <%= f.submit %>
<% end %>