<%= form_with url: "/boardgames", method: :get, html: { class:"my-5" } do |form| %>
  <%= form.label :q, t(".label"), class: "visually-hidden" %>
  <div class="input-group">
    <%= form.text_field :q, placeholder: t(".placeholder"), class: "form-control form-control-lg" %>
    <%= form.submit t(".submit"), name: nil, class: "btn btn-primary px-4" %>
  </div>
<% end %>