<h1>Boardgames</h1>

<section>
  <%= render 'boardgames/search_form' %>
</section>

<section>
  <div>
    <% @boardgames.each do |boardgame| %>
      <%= link_to boardgame do %>
        <%= render 'card', boardgame: %>
      <% end %>
    <% end %>
  </div>
</section>