<h1>Boardgames#index</h1>

<div>
<% @boardgames.each do |boardgame| %>
  <%= link_to boardgame do %>
    <article>
        <hgroup>
          <p><%= boardgame.title %></p>
          <p>
            <%= format_price boardgame.listings.map(&:latest_price).map(&:price).min %>
          </p>
        </hgroup>
    </article>
  <% end %>
<% end %>
</div>