<h1>Boardgames</h1>

<section>
  <%= render 'boardgames/search_form' %>
</section>

<section>
  <div>
  <% @boardgames.each do |boardgame| %>
    <%= link_to boardgame do %>
      <article>
          <hgroup>
            <p><%= boardgame.title %></p>
            <p><%= format_price(boardgame.latest_price) %></p>
          </hgroup>
      </article>
    <% end %>
  <% end %>
  </div>
</section>